* { /* affects all elemets  */
    margin: 0;
    padding: 0;
    font-family: 'Times New Roman', Times, serif;
    box-sizing: border-box; /* ensures that padding and border are included in total width */
}
html {
    height: 100%; /* sets height of html */
}
body {
    overflow-x: hidden; /* prevents horizontal scrolling */
    min-height: 100vh; /* body is always as tall as a viewport */
    margin: 0;
}

/* header styling */
header h1 {
    text-align: center;
    padding-top: 4vh; /* 4% viewport height */
    padding-right: 8%;
    font-size: 5vh;
}
header {
    height: 14vh;
}
.logo { 
    height: 12vh;
    margin: 1vh;
    border-radius: 100px;
    border: 1.5px dotted black;
}

/* main navigation styling */
.menu {
    background-color: black;
    padding: 1.3%;
    position: sticky; /* element stays anchored on screen while scrolling */
    width: 100%;
    z-index: 1000; /* will be displayed ont top of elements with a lower value */
    top: 0; /* distance of the top edge absolutely positioned element or viewport */
}
.menu ul {
    font-size: 1.8vh;
    text-align: center;
}
.menu ul li {
    list-style-type: none;
    display: inline;
    margin: 0;
}
.menu ul li a {
    text-decoration: none;
    color: white;
    padding: 1.3% 10% 0.7% 10%;
}
.menu ul li :hover, #active {
    border-bottom: 0.4vh solid rgb(100, 100, 100);
}
.menu ul li a {
    transition: 0.15s;
    cursor: pointer;
}

/* foooter styling */
footer {
    width: 100%;
    background-color: black;
    color: white;
    padding: 1.2%;
    text-align: center;
    font-size: 1.7vh;
    position: relative; /* positions element relative to normal flow, ancestor */
    bottom: 0; /* fixes footer at the bottom */
    left: 0; 
}
footer * {
    margin: 0;
    padding: 0;
}

/* home background and text styling */
.background_home {
    position: relative; /* setting an ancestor */
    width: 100%;
    height: 100vh; /* viewport height = % of the height of the viewport */
    margin: 0; 
    margin-bottom: 2%;
}
.background_home::before { /* background image styling */
    content: ""; /* must be there, inserts no content before the element */
    background-image: url(../images/header.jpeg);
    background-size: cover; /* covers entire page */
    position: absolute; /* child element */
    inset: 0; /* same as top: 0; right: 0; bottom: 0; left: 0; */
    filter: brightness(0.3);
}
.text_home {
    position: relative;
    color: white; 
    text-align: justify;
    width: 33%;
    margin: 25% 18% 0 0;
    float: right;
    text-decoration: none;
    font-style: normal;
    font-size: 2.5vh;
}
.text_home p {
    margin-bottom: 3%;
}

/* home page navigation styling */
.navigation_home {
    display: inline-block;
    padding: 22% 0% 0% 18%;
    max-height: 10%;
    min-height: 10%;
}
.navigation_home ul {
    font-size: 3vh;
    text-align: center;
    position: relative; /* positions element relative to normal flow */
}
.navigation_home ul li {
    list-style-type: none;
    background-color: white;
    margin-bottom: 2vh;
    padding: 1.8vh;
    border-radius: 2vh;
}
.navigation_home ul li a {
    text-decoration: none;
    color: black;
}
.navigation_home ul li, .navigation_home ul li a {
    transition: 0.15s;
}
.navigation_home ul li:hover {
    background-color: black; /* changes background color of the text */
    cursor: pointer;
}
.navigation_home ul li:hover a {
    color: white; /* changes color of the text */
}

/* map styling */
.map iframe {
    width: 60%;
    height: 30vh;
    margin-left: 20%;
    margin-bottom: 8vh;
}
.map h2 {
    text-align: center;
    margin-bottom: 30px;
    margin-top: 50px;
}
/* recipes styling */
.main_recipes {
    width: 85%;
    display: inline-block;
}
.recipes_row {
    justify-content: center; /* center items in a container when used with display:flex; */
    display: flex; /* allows flexible layout of items within home_row container */
}
.recipe_image {
    width: 20%;
    position: relative; /* positions element relative to normal flow, ancestor */
    margin: 1%;
    display: inline-block;
}
.recipe_image img {
    width: 100%;
}
.recipe_text {
    position: absolute; /* child element, placed within the home_image section */
    bottom: 0;
    left: 0;
    color: white;
    background-color: black;
    text-align: center;
    height: 40%;
    width: 100%;
}
.recipe_text h2 {
    margin: 2.5vh;
    margin-bottom: 4vh;
    font-size: 1.5em; 
}
.recipe_text a {
    color: white;
    text-decoration: none;
    border: 1px solid white;
    border-radius: 2vh;
    padding: 3%;
    font-size: 1.5vh;
}
.recipe_text a {
    cursor: pointer;
}
#first_row {
    margin-top: 1%;
}
#last_row {
    margin-bottom: 1%;
}

/* recipes aside styling */
aside {
    float: right;
    width: 15%;
    padding: 1.5% 1% 5vh 3%;
    border-left: 2px solid black;
    margin: 0;
    position: sticky;
    z-index: 999;
    top: 5vh;
}
aside ul {
    list-style-type: decimal;
    padding-left: 0;
    margin: 0;
    font-size: 1.6vh;
}
aside ul li {
    margin-bottom: 2.5vh;
}
aside ul li a {
    text-decoration: none;
    color: black;    
}
aside ul li a :hover {
    cursor: pointer;
}
aside ul li a:visited {
    color: inherit; /* inherits color from parent element */
    text-decoration: none; /* removes underline */
}

/* tips page styling */
.container_tips {
    width: 84%;
    border: 2px solid black;
    border-radius: 12vh;
    padding: 2%;
    margin: 4%;
    margin-left: 8%;
    overflow: auto;
}
.container_tips h2 {
    text-align: left;
    margin: 2%;
}
.video_tips {
    float: left;
    width: 40%;
    margin: 1%;
    margin-right: 4%;
}
.text_tips {
    text-align: justify;
    margin: 2%;
    margin-top: 8vh;
    line-height: 2.8vh;
    font-size: 1.7vh;
}


.form {
    width: 30%;
    text-align: center;
    margin: 7%;
    margin-left: 35%;
}
.form h2 {
    font-size: 3vh;
    text-align: center;
    margin-bottom: 2vh;
}
input[type=text], input[type=number], textarea {
    width: 100%;
    padding: 2%;
    border: 1px solid black;
    margin-top: 6px;
    margin-bottom: 16px;
    font-size: 2vh;
}
#request {
    height: 200px;
}
.form_button {
    border-radius: 2vh;
    background-color: black;
    color: white;
    cursor: pointer;
    border: none;
    width: 100%;
    height: 6vh;
    font-size: 3vh;
}

.form_button:hover {
    background-color: white;
    color: black;
  }
